:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter', sans-serif;
  }
}


body {
  display: flex;
  flex-direction: column;
  font-size: clamp(1em, 1.25vw, 1.5em);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  margin: 0 auto;
}

body > * {
  padding: 1em 1.5em;
}

header {
  background-color: hsl(0, 0%, 90%);
}

h1 {
  color: #b45f06;
}

h2 {
  color: #4285f4;
}

header > div, footer > div, main {
  margin-left: auto;
  margin-right: auto;
  max-width: 48em;
}

blockquote {
  background-color: hsl(0, 0%, 90%);
  padding: 1em;
}

footer {
  background-color: hsl(0, 0%, 90%);
  margin-top: auto;
}

figure {
  border: 1px solid #b45f06;
  margin: 0;
}

figure img {
  width: 100%;
  display: block;
}

summary {
  cursor: pointer;
  padding: 1em;
}

li {
  margin: 1em;
}